<a href="{{ event.link }}">
  <article class="event-listing">
    <img class="event-listing__image" src="{{ event.thumbnail|resize(532, 400) }}" alt="">
    <h2 class="event-listing__title">{{ event.title }}</h2>
    {% if event.meta('performance_type') %}
      <span class="event-listing__performance-type">{{ event.meta('performance_type') }}</span>
    {% endif %}
    {% if event.meta('closed_captioning') %}
      <img class="event-listing__closed-captions" src="{{ theme.link }}/public/images/icons/icon-closed-caption.svg" alt="Supports Closed Captioning">
    {% endif %}
  </article>
</a>

{% if is_music_page %}
 {% if event.meta('performance_times') %}
  <div class="event-listing__times">
    {% for time in event.meta('performance_times') %}
      <time>{{ time.date_time|date('l, g:i a')}}</time>
    {% endfor %}
  </div>
 {% endif %}
{% endif %}


{% if event.meta('short_bio') %}

  <a class="event-listing__bio-toggle" data-toggle="collapse" href="#{{ event.title|sanitize }}-bio" role="button" aria-expanded="false" aria-controls="collapseExample">
    Bio <span class="event-listing__bio-chevron">{% include 'public/images/icons/chevron-down.svg' ignore missing %}</span>
  </a>
  <div class="collapse event-listing__bio" id="{{ event.title|sanitize }}-bio">
    {{ event.meta('short_bio') }}
  </div>
{% endif %}
